---
title: Developers
---
{{> head }}

<div class="so-back">
  <div class="so-chunk">
    <div class="so-siteHeader playgroundHeader">
      {{> siteLogo }}
      <div class="networkPicker">
        <form class="s-buttonGroup">
          <label class="s-buttonGroup__wrapper">
            <input type="radio" class="s-buttonGroup__radio" name="favorite-letter" value="live">
            <span class="s-button s-button__light networkPicker__button">live</span>
          </label>
          <label class="s-buttonGroup__wrapper">
            <input type="radio" class="s-buttonGroup__radio" name="favorite-letter" value="test" checked>
            <span class="s-button s-button__light networkPicker__button">test</span>
          </label>
        </form>
        <span class="networkPicker__url">horizon-testnet.stellar.org</span>
      </div>
    </div>
  </div>
</div>
<div class="so-back siteNavBack">
  <div class="so-chunk">
    <nav class="s-buttonList">
      <a href="#" class="s-buttonList__item s-button s-button__min is-active">Endpoint Explorer</a>
      <a class="s-buttonList__item s-button s-button__min">More coming soon</a>
      <a class="s-buttonList__item s-button s-button__min is-disabled">More coming soon</a>
    </nav>
  </div>
</div>

{{> foot }}
